@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Seven-segment display font */
@font-face {
    font-family: "DSEG7-classic-mini-boldItalic";
    src: url("static/fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-BoldItalic.woff2") format("woff2"),
    url("static/fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-BoldItalic.woff") format("woff"),
    url("static/fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-BoldItalic.ttf") format("truetype");
}
/* 
@keyframes slide-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
} */


:root {
    --clr-bg-dark: #294576;
    --clr-bg-light: #325188;
    --clr-text: #edc825;
    --bg-gradient: radial-gradient(#2b4a80, #294576);
    --bg-gradient-accent: radial-gradient(circle, hsl(219, 52%, 40%), hsl(218, 53%, 37%));
    --clr-border: hsl(219, 16%, 47%);

    --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
    --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
    --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
    --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
    --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
    --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
    --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);
    
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100svh;
}

/* Animation classes */
.hero-title-second-word {
    animation: slide-up 0.3s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    animation-duration: .75s;
}


/* **************** */


/* inputs */

input {
    font: inherit;
    color: var(--clr-text);
    text-transform: uppercase;
    text-align: center;
}

input:not([type="checkbox"]),
textarea {
    font-size: 1rem;
    border: 1px solid var(--clr-border);
    /* min-height: 60px; */
    width: 100%;
    padding: 1em 1.25em;
    background-color: transparent;
    &:focus {
        border-color: var(--clr-bg-text);
        background-color: transparent;
        box-shadow: none;
        outline: none;
    }
}

input::placeholder {
    color: var(--clr-text);
    opacity: 0.6;
    text-transform: uppercase;
}

label {
    white-space: nowrap;
    color: var(--clr-text);
    text-transform: uppercase;
    font-size: var(--fs-500);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7em;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.input-box {
    display: flex;
    align-items: center;
    gap: 1em;
}

.button {
    background-color: transparent;
    color: var(--clr-text);
    padding: 1em 25px;
    border: 1px solid var(--clr-text);
    text-transform: uppercase;
    transition: all .3s ease-out;
    cursor: pointer;
    letter-spacing: 2.8px;
    line-height: 130%;
    font-size: var(--fs-400);
    &:hover {
        color: white;
        border-color: white;
    }
}
.button_active {
    color: white;
    background-color: var(--clr-bg-dark);
    border: none;
}

/* ***************** */


.emoji {
    font-size: var(--fs-600);
}

.main-container-hero {
    height: 100svh;
    width: 100%;
    display: grid;
    place-content: center;
    background: var(--bg-gradient);
    padding: 0;
    gap: 7em;
}

.board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 85%;
    border: 1px solid var(--clr-border);
}

.cell {
    background-color: var(--clr-bg-dark);
    border: 1px solid var(--clr-border);
    display: grid;
    place-content: center;
    color: var(--clr-text);
    padding: 30px;
    font-size: var(--fs-500);
}

.cell_link {
    position: relative;
    transition: 0.3s ease;
    &:hover {
        background-color: var(--clr-bg-light);
        transition: .3s ease;
        cursor: pointer;
    }
}

.row-name {
    justify-content: start;
}

.hero__title {
    display: grid;
    place-content: center;
}

.title_hero {
    font-size: var(--fs-900);
    color: var(--clr-text);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: normal;
    & p:first-child {
        letter-spacing: 1px;
    }
}

.link_hero {
    cursor: auto;
    width: 100%;
    text-decoration: none;
}

.current-question-box {
    display: none;
    position: absolute;
    width: 100%;
    height: 85%;
    background-color: var(--clr-bg-dark);
    text-align: center;
    place-content: center;
    font-size: var(--fs-700);
    color: var(--clr-text);
    z-index: 10;
    opacity: 1;
    transition: 0.3s ease;
    border: 1px solid var(--clr-border);
}

.current-question-text {
    padding-inline: 10vw;
}

.hide {
    opacity: 0;
    transition: 0.4s ease
}

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    z-index: 100;
    background-color: #325188;
    color: #ffffff;
}
    
.command {
    font-size: var(--fs-400);
    border-inline: 1px solid var(--clr-border);
    flex: 1;
    height: 100%;
    padding-inline: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    text-transform: uppercase;
}

.timer-box {
    font-family: "DSEG7-classic-mini-boldItalic", sans-serif;
    color: #a0c3ff;
    font-size: var(--fs-400);
    padding-inline: 1.25em;
    padding-bottom: 1.4em;
    border-bottom: 1px solid var(--clr-border);
}

.score-controller {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 40%;
}

.score {
    border-bottom: 1px solid var(--clr-border);
    min-width: 6ch;
    font-size: var(--fs-500);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0.5em;
    height: 100%;
}

.score-control-button  {
    cursor: pointer;
    height: 100%;
    padding-inline: 1em;
    background-color: transparent;
    color: white;
    border: none;
    & span {
        display: block;
        width: 1em;
        height: 2px;
        background-color: white;
    }
    &:focus {
        outline: none;
    }
}

.score-minus {
    background-color: rgba(212, 116, 116, 0.6);
    transition: .3s ease;
    &:hover {
        background-color: hsla(0, 83%, 70%, 0.6);
        transition: .3s ease;
    }
}

.score-plus {
    background-color: rgba(74, 157, 74, 0.7);
    transition: .3s ease;
    & span:first-child {
        transform: translateY(1px);
    }
    & span:last-child {
        transform: translateY(-1px) rotate(90deg);
    }
    &:hover {
        background-color: hsla(120, 48%, 47%, 0.7);
        transition: .3s ease;
    }
}

.round-box {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: auto;
    width: min-content;
    display: flex;
    flex-wrap: nowrap;
    gap: 1ch;
    background-color: inherit;
    font-size: var(--fs-300);
    color: #a0c3ff;
    padding: 0.25em 1.6em;
}